.card-project {
    width: 500px;
    background-color: transparent;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
    border-bottom: 1px solid var(--third-color);;
    list-style: none;
   position: relative;
}

.video-project{
    border-radius: 10px;
}

.container-info-project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
}

.name-card-project {
    font-size: 22px;
    font-weight: 700;
    color: var(--color-white);
}

.description-card-project {
    font-size: 16px;
    color: var(--color-gray);
}

.container-icons-project {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 14px;
}

.container-links-project {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    z-index: 2;
}


.link-project {
    font-size: 16px;
    color: var(--color-gray); 
    font-weight: 500;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    text-decoration: none;
    text-decoration: color .5s ease-in-out;
}

.link-project:hover {
    color: var(--color-white);
}

.with-icon {
    display: flex; 
    align-items: center;
   
}

@media (max-width: 768px) {
    .card-project {
        width: 100%
    }
    .image-project {
        width: 100%; 
    }
    .video-project {
        width: 100%;
    }
}