.card-article {
    width: 100%; 
    background-color: var(--background-gray-light);
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px; 
    border-radius: 5px;
}


.date-article {
    font-size: 14px;
    color: var(--color-gray-light);
}


.title-article {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-black); 
}


.description-article {
    font-size: 16px;
    color: var(--color-dark);
}
