.container-title{
    display: flex; 
    align-items: center; 
    gap: 5px;
    margin-bottom: 16px;
}

.container-title h3 {
    color: var(--color-white);
    font-size: 24px;
    font-weight: 600;
}