.header {
  width: 80%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: transparent;
  z-index: 999;
  backdrop-filter: blur(10px);
}

.title-header {
  color: var(--color-white);
  font-size: 20px;
  font-weight: bold;
}

.nav-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link-nav {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-gray);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.link-nav:hover {
  color: var(--color-white);
}

.container-header-theme-articles {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link-articles {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-gray);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  display: flex;
  align-items: center;
}
.link-articles:hover {
  color: var(--color-white);
}

.icon-menu {
  display: none;
  cursor: pointer;
}

.button-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--color-border);
  background-color: var(--background-dark);
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  color: var(--color-gray);
}

.button-header:hover {
  border-color: var(--color-border-hover);
  color: var(--color-white);
}

@media (max-width: 1024px) {
  .header {
    width: 100%;
    left: 0;
    transform: none;
    padding: 5px;
  }
}

@media (max-width: 768px) {

    .header {
      width: 100%; 
        flex-wrap: wrap; 
        border-bottom: 1px solid var(--color-gray);
        height: 40px;
        padding: 0 10px;
        
    }

    
    .icon-menu {
        display: block; 
    }

    .nav-header {
        width: 100%; 
        flex-direction: column;
        align-items: flex-start;
        margin-top: 8px;
        opacity: 0;
        visibility: hidden;
      }
      .container-header-theme-articles {
        width: 100%; 
        opacity: 0;
        visibility: hidden;
        padding-bottom: 10px;
    }
    
    .open-menu {
        height: auto; 
        transition: .5s ease-in-out;  
    }

    .open-menu .nav-header {
        opacity: 1;
        visibility: visible;
    }

    .open-menu .container-header-theme-articles {
        opacity: 1;
        visibility: visible;
    }

}