.header {
    width: 80%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: transparent;
    z-index: 999;
    backdrop-filter: blur(2px);
}

.title-header {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.nav-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.link-nav {
    font-size: 16px;
    font-weight:500; 
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.link-nav:hover {
    color: #fff;
}

.container-header-theme-articles {
    display: flex;
    align-items: center;
    gap: 10px;
}

.link-articles {
    font-size: 16px;
    font-weight:500; 
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    display:flex;
    align-items: center;
}
.link-articles:hover {
    color: #fff;
}


.icon-menu {
    display: none; 
    cursor: pointer;
}


/* Input toggle theme */

/* From Uiverse.io by guilhermeyohan */ 
.checkbox-apple {
  position: relative;
  width: 50px;
  height: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-apple label {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #626262, #9b9b9b);
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.checkbox-apple label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.checkbox-apple input[type="checkbox"]:checked + label {
  background: linear-gradient(to bottom, #202020, #101010);
  border-color: #303030;
}

.checkbox-apple input[type="checkbox"]:checked + label:after {
  transform: translateX(25px);
}


.yep {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
}