.section-main {
  width: 100%;
  height: 100vh;
  background-image: var(--background-image); 
  background-size: cover;
  background-position: center; 
  box-shadow: inset 0 0 200px var(--color-shadow); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-gradient {
   position: absolute;
  z-index: 1;
  width: 300px;
  height: 300px;
  opacity: 0.8;
  filter: blur(35px);
  display: var(--show-gradient);
}

.gr1 {
    background: var(--third-color);
  background: radial-gradient(
    circle at top right,
    var(--third-color) 20%,
    #00ff0000 100%
  );
  top: 0;
  right: 0;
}
.gr2 {
  background-color: var(--first-color);
  background: radial-gradient(
    circle at top left,
    var(--first-color) 20%,
    #00ff0000 100%
  );
  top: 0;
  left: 0;
}
.gr3 {
  width: 100%;
  background-color: var(--second-color);
  background: radial-gradient(
    circle at bottom,
    var(--second-color) 20%,
    #00ff0000 100%
  );
  bottom: 0;
}

.container-info-main {
  width: 80%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  z-index: 2;
}


.title-top-info-main {
  color: var(--color-white);
  font-size: 25px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    var(--first-color) 3%,
    var(--second-color) 10%,
    var(--third-color) 20%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: var(--text-shadow);
}



.title-info-main {
  font-size: 60px;
  color: var(--color-white);
}


.presentation-info-main {
  color: var(--color-gray);
  font-size: 18px;
}


.contacts-info-main {
  display: flex;
  align-items: center;
  gap: 12px;
}


.link-section-main {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--color-gray);
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  border: 1px solid var(--color-border);
  padding: 10px;
  background-color: var(--background-dark);
  transition: color border 0.5s ease-in-out;
}

.link-section-main:hover {
  border-color: var(--color-border-hover);
  color: var(--color-white);
}


@media (max-width: 1024px) {
  .section-main {
    justify-content: flex-start;
  }


  .container-info-main {
    margin: 0; 
    padding: 5px; 
  }
}

@media (max-width: 768px) {

  .container-info-main {
    width: 100%
  }
  .contacts-info-main {
    flex-wrap: wrap;
  }
  .title-info-main {
    font-size: 40px; 
  }
  .title-top-info-main {
    font-size: 18px;
  }

  .presentation-info-main {
    font-size: 16px;
  }
}