.section-contacts {
  width: 100%;
  height: auto;
}

.container-grid {
  width: 100%;
  
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  background-color: transparent;
  border-radius: 10px;
}

.box-grid {
  height: 100%; 
  border: 1px solid var(--color-border);;
  border-radius: 5px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--color-gray);;
  background-color: var(--background-dark);;
}

.title-box-grid {
  font-size: 22px;
  margin-bottom: 8px;
}

.link-box-grid {
  color: #1169b7;
  font-weight: bold;
  text-decoration: none;
  transition: color .5s ease-in-out;
  font-size: 16px;
}
.link-box-grid:hover {
   color: #3982c3;
}

.container-boxes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.link-box {
  border:1px solid var(--color-border);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-gray);
  text-decoration: none;
  font-size: 16px;
  background-color: var(--background-dark);
  transition: 0.5s ease-in-out;
}

.link-box:hover {
  border-color: var(--color-border-hover); 
  color:var(--color-white)
}


.icon-grid {
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .section-contacts {
    width: 100%;
    margin: 0; 
    padding: 5px;
  }
}