.section-contacts {
  width: 80%;
  height: auto;
  margin: auto;
}

.container-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  background-color: transparent;
  border-radius: 10px;
}

.box-grid {
  border: 2px solid #ffa500;
  border-radius: 5px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffa500;
}

.title-box-grid {
  font-size: 22px;
  margin-bottom: 8px;
}

.link-box-grid {
  color: #ffa500;
  font-weight: bold;
  text-decoration: none;
  transition: color .5s ease-in-out;
  font-size: 16px;
}
.link-box-grid:hover {
    color: #fbb432;
}

.container-boxes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.link-box {
  border: 2px solid #555;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  background-color: transparent;
  transition: 0.5s ease-in-out;
}

.link-box:nth-child(1) {
  border-color: #999;
}
.link-box:nth-child(1):hover {
  border-color: #fff;
  color: #fff;
}
.link-box:nth-child(2) {
  border-color: #008000;
  color: #3ddc84;
}
.link-box:nth-child(2):hover {
  border-color: #58f29d;
  color: #58f29d;
}

.link-box:nth-child(3) {
  border-color: #0a66c2;
  color: #0a66c2;
}
.link-box:nth-child(3):hover {
  border-color: #358ee7;
  color: #358ee7;
}
.link-box:nth-child(4) {
  border-color: #ff0000;
  color: #ff0000;
}
.link-box:nth-child(4):hover {
  border-color: #fa5555;
  color: #fa5555;
}
.icon-grid {
  margin-bottom: 5px;
}
