:root {
  --primary-color: tranparent;
}

/* uso => color: var(--text-color); */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1, h2, h3 {  
  color: #fff; 
}


